{#{% extends 'base.html.twig' %}#}

{% block body %}

<div style="display: table;position: absolute;top: 0;left: 0;height: 100%;width: 100%;background-image: url('/images/tlo.jpg');background-repeat: no-repeat;background-size: 100% 100%;">

    <div style="display: table-cell;vertical-align: middle;">

        <div style="margin-left: 20px;margin-right: auto;width: 400px;background-color: white">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

{#                {% if app.user %}#}
{#                    <div class="mb-3">#}
{#                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#                    </div>#}
{#                {% endif %}#}

                <label for="inputUsername">Użytkownik</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <br />
                <label for="inputPassword">Hasło</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <br />
                <button class="btn btn-lg btn-primary" type="submit">
                    Zaloguj się
                </button>


            </form>

        </div>

    </div>
</div>

{% endblock %}