{% extends 'base.html.twig' %}

{% block content %}
    <table class="tab_types">
        <tr>
            <th></th>
            <th class="th_rank_username">Gracz</th>
            <th class="th_rank_win">1</th>
            <th class="th_rank_win">2</th>
            <th class="th_rank_win">3</th>
            <th class="th_rank_win">4</th>
            <th class="th_rank_win">5</th>
            <th class="th_rank_win">6</th>
            <th class="th_rank_win">7</th>
            <th class="th_rank_win">8</th>
            <th class="th_rank_win">9</th>
            <th class="th_rank_win">10</th>
            <th class="th_rank_win">10></th>
            <th class="th_rank_seasons">Sezony</th>
            <th class="th_rank_pkt">Śr. pkt na kol.</th>
            <th class="th_rank_queue">Kolejki</th>
            <th class="th_rank_total">Punkty</th>
            <th class="th_rank_match_2">Mecze 2pkt</th>
            <th class="th_rank_match_4">Mecze 4pkt</th>
        </tr>
        {% for rank in ranks %}
            <tr>
                <td>{{ loop.index }}.</td>
                {% if(rank.status == 1) %}
                    <td class="rank_username">{{ rank.username }} *</td>
                {% else %}
                    <td class="rank_username">{{ rank.username }}</td>
                {% endif %}
                <td class="rank_win">{{ rank.wins }}</td>
                <td class="rank_win">{{ rank.secondplaces }}</td>
                <td class="rank_win">{{ rank.thirdplaces }}</td>
                <td class="rank_win">{{ rank.fourthplaces }}</td>
                <td class="rank_win">{{ rank.fiveplaces }}</td>
                <td class="rank_win">{{ rank.sixthplaces }}</td>
                <td class="rank_win">{{ rank.seventhplaces }}</td>
                <td class="rank_win">{{ rank.eightplaces }}</td>
                <td class="rank_win">{{ rank.nineplaces }}</td>
                <td class="rank_win">{{ rank.tenplaces }}</td>
                <td class="rank_win">{{ rank.others }}</td>
                <td class="rank_seasons">{{ rank.seasons }}</td>
                <td class="rank_ptk">{{ rank.avgPtsForMatch|number_format(2, '.', ',') }}</td>
                <td class="rank_queue">{{ rank.numOfQue }}</td>
                <td class="rank_total">{{ rank.totalpoints }}</td>
                <td class="rank_match_2">{{ rank.match2 }}</td>
                <td class="rank_match_4">{{ rank.match4 }}</td>

            </tr>
        {% endfor %}
        <tr>
    </table>
{% endblock %}

{% block infobar %}
    <p style="text-align: center;padding:0;margin:0">Stan na dzień: 24-11-2022</p>
{% endblock infobar %}
